.cancel-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .cancel-modal-overlay.show {
    opacity: 1;
    visibility: visible;
  }
  
  .canceling-modal-content {
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    max-width: 400px;
    width: 100%;
    position: relative;
  }
  
  .cancel-close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: red;
  }
  
  .cancel-close-button:hover {
    color: #4b5563;
  }