/* Add this to your global CSS file */
.scroll-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #17a2b8; /* Customize the color */
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000; /* Ensure it's on top of other elements */
    transition: background-color 0.3s ease;
  }
  
  .scroll-to-top-btn:hover {
    background-color: #06869c; /* Customize the hover color */
  }
  